// Variables
$BackgroundColor: #26193E;
$ForegroundSelected: #4a72a3;
$PinkReplacement: #584998;
$ForegroundUnselected: #A38EDC;

// As of April 2
$covid71: #440154;
$covid72: #491D54;
$covid73: #4F3854;
$covid74: #555555;
$covid75: #436867;
$covid76: #327C79;
$covid77: #21908C;
$covid78: #eee;

$covid51: #440154;
$covid52: #481654;
$covid53: #4C2B54;
$covid54: #504054;
$covid55: #555555;
$covid56: #eee;